body {
    color: white;
    font: 20px Arial, sans-serif;
  }

  .fundo {
    background-image: url("bombadino.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    z-index: 1;
  }
  
  img {
    border: 1px solid #333;
    border-radius: 1000px; 
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    margin: 0px 20px;
  }
  
  .dropdown {
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: transparent;
  }
  
  
  .dropdown-content button {
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 1, 0.5);
    color: black;
    padding: 10px 16px;
    margin: 2px 0px;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .dropdown-content button:hover {
    background-color: blanchedalmond;
  }
  
  button {
      border-radius: 10px;
  }
  
  /*
  CRIAR REDE
  - docker network create minha-rede
  - docker network ls
  - docker network ls
  
  CRIAR SERVIDOR
  - docker run -d --name servidor-web --network minha-rede nginx
  
  CRIAR BANCO
  - docker run -d --name banco-dados [...]
  
  CRIAR APP WEB
  - docker run -d --name aplicativo-client --network minha-rede ubuntu

  jnj
  */