body {
    margin: 0;
    color: black;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "container foto";
    min-height: 100vh;
}

.container {
    grid-area: container;
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 100px;
}

.foto {
    background-image: url("scotland_yard.png");
    grid-area: foto;
    width: 100%;
    height: 100%;
}

#senha {
    width: 100%;
    border-color: transparent;
    box-shadow: -1px 1px 1px rgba(0, 0, 1, 0.5);
    padding: 10px;
    margin: 10px 0px;
}

#email {
    width: 100%;
    border-color: transparent;
    box-shadow: -1px 1px 1px rgba(0, 0, 1, 0.5);
    margin: 10px 0px;
    padding: 10px;
}

#authe {
    color: darkslateblue;
    font-size: 45px;
}

#enter {
    color: chocolate;
    font-size: 24px;
    margin-top: -15px;
}

#text {
    color: chocolate;
}

#submit {
    background-color: darkslateblue;
    color: white;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    margin-top: 30px;
    border-color: transparent;
}

#submit:hover {
    background-color: blue;
}

a {
    display: inline-block;
    margin-left: 140px;
    color: orange;
    text-decoration: none;
}

a:hover {
    color: chocolate;
}

hr {
    background-color: darkslateblue;
    height: 1px;
    margin-top: 35px;
}

svg {
    padding: 30px;
    margin-right: 58px;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr auto;
    }
}